* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #25a5f2;
  --secondary: #4dc896;
  --background: #eef0f2;
  --background-top: #ffffff66;
  --white: #ffffff;
  --gray: #c4d4d9;
  --gray-text: #929b9e;
  --red: #f7685b;
  --yellow: #ffc76b;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  min-height: 100vh;
}
